<div class="container">
  <div class="row product__detail">

    {{!-- Thông tin sản phẩm --}}
    <div class="product__detail-top">

        {{!-- Phần bên trái - phẩn ảnh của sản phẩm --}}
        <div class="col-5 product__detail-top-left">
            <div class="product__detail-img">
                <img src="{{pro.img}}" alt="">
            </div>
            <div class="product__detail-img-mini">
                <button><i class="fas fa-chevron-left"></i></button>
                <img class="col-3" src="{{pro.img}}" alt="">
                <img class="col-3" src="{{pro.img}}" alt="">
                <img class="col-3" src="{{pro.img}}" alt="">
                <button><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>

        {{!-- Phần bên phải - Giá và các thông số kỹ thuật --}}
        <div class="col-7 product__detail-top-right">
            <h4>{{pro.name}}</h4>
            <div class="detail__product-reviews">
                <div class="detail__star-reviews">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <div class="detail__evaluate">0 đánh giá</div>
                </div>
                {{!-- <div class="detail__evaluate">0 đánh giá</div> --}}
                <div class="baohanh">Bảo hành 36 tháng</div>
            </div>
            <div class="detail__product-price">
                <p>Giá sản phẩm:</p>
                {{#if pro.discount}}
                <p class="currFormat detail__product-price-cls">{{pro.originPrice}} đ</p>
                {{/if}}
                <p class="currFormat">{{pro.price}} đ</p>
            </div>
            <div class="short-desc">
                <p style="display: none;" id="rawSpec">{{pro.spec}}</p>
            </div>
            <script>
                //hiện thông số kĩ thuật
                var spec = document.getElementById('rawSpec').innerHTML.split(',');
                var x = document.getElementsByClassName("short-desc")[0];
                for(let i = 0; i<spec.length;i++)
                {
                       var orow = document.createElement('p');
                orow.innerHTML = spec[i];
                x.appendChild(orow);
                }
             
            </script>
            <div class="status__quantity">
                {{#if pro.stored}}
                <p class="stastus"><span><i class="fa fa-circle"></i>CÒN HÀNG</span></p>
                {{else}}
                <p class="stastus"><span><i class="fa fa-circle"></i>HẾT HÀNG</span></p>
                {{/if}}
            </div>
            <div class="buttons__added__cart">
                <div class="col-3 buttons__added">
                    <input class="minuss is__form" type="button" value="-">
                    <input aria-label="quantity" class="input__qty" max="Số tối đa" min="Số tối thiểu" name="" type="number" value="">
                    <input class="pluss is__form" type="button" value="+">
                </div>
                <button class="col-4 btn__added"><i class="far fa-shopping-basket"></i> THÊM VÀO GIỎ HÀNG</button>
                <button class="col-4 btn__buynow"><i class="far fa-plus"></i>MUA NGAY</button>
            </div>
        </div>
    </div>

    {{!-- THông tin về các hình thức thanh toán và trợ --}}
    <div class="product__detail-policy__item">
        <div class="policy__item">
            <i class="far fa-credit-card"></i>
            <p>Hỗ trợ trả góp 0%, trả trước 0đ</p>
        </div>
        <div class="policy__item">
            <i class="fad fa-money-bill-alt"></i>
            <p>Hoàn tiền 200% nếu có hàng giả</p>
        </div>
        <div class="policy__item">
            <i class="fas fa-shipping-fast"></i>
            <p>Giao hàng nhanh trên toàn quốc</p>
        </div>
        <div class="policy__item">
            <i class="far fa-comment-alt-dots"></i>
            <p>Hỗ trợ kĩ thuật online 7/7</p>
        </div>
    </div>

    {{!-- Title --}}
    <div class="seperate">
        <div class="seperate__left">
            <div class="seperate__square"></div>
            <div class="triangle_down"></div>
        </div>
        <p>THÔNG TIN SẢN PHẨM</p>
        <div class="seperate__right">
            <div class="triangle_up"></div>
            <div class="seperate__square"></div>
        </div>
    </div>

    {{!-- Các thông tin - đánh giá sản phẩm --}}
    <div class="product__detail-menu-mini">
        <div class="detail-menu-mini">
            <div class="tablinks" onclick="openMainDetail(event, 'productDetails')">Chi tiết sản phẩm</div>
            <div class="tablinks" onclick="openMainDetail(event, 'specifications')">Thông số kỹ thuật</div>
            <div class="tablinks" onclick="openMainDetail(event, 'video')">Video</div>
            <div class="tablinks" onclick="openMainDetail(event, 'feedback')">Đánh giá</div>
        </div>
        
        {{!-- Chi tiết sản phẩm --}}
        <div id="productDetails" class="tabcontent content-description">
            <p> {{pro.description}}
            </p>
            <div><img src="{{pro.desImg}}" alt=""></div>
        </div>
        
        {{!-- Thông số kỹ thuật --}}
        <div id="specifications" class="tabcontent content-specification">
            <div class="content-specification-main">
                <table>
                    <tbody>
                        <tr>
                            <td>Thương hiệu</td>
                            <td>ASUS</td>
                        </tr>
                        <tr>
                            <td>Dòng</td>
                            <td>ROG Strix G17</td>
                        </tr>
                        <tr>
                            <td>Mẫu</td>
                            <td>G713QM-K4113T</td>
                        </tr>
                        <tr>
                            <td>Màu sắc</td>
                            <td>Eclipse Gray</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        {{!-- Video --}}
        <div id="video" class="tabcontent">
        </div>
        
        {{!-- Đánh giá --}}
        <div id="feedback" class="tabcontent">
        </div>
    </div>
  </div>
</div>

{{!-- Đóng mở các tab thông tin sản phẩm --}}
<script>
    function openMainDetail(evt, openMainDetail) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(openMainDetail).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
