<div class="container">
  <div class="row product__detail">
    <div class="product__detail-top">
        <div class="col-5 product__detail-top-left">
            <div class="product__detail-img">
                <img src="{{pro.img}}" alt="">
            </div>
            <div class="product__detail-img-mini">
                <button><i class="fas fa-chevron-left"></i></button>
                <img class="col-3" src="{{pro.img}}" alt="">
                <img class="col-3" src="{{pro.img}}" alt="">
                <img class="col-3" src="{{pro.img}}" alt="">
                <button><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-7 product__detail-top-right">
            <h4>{{pro.name}}</h4>
            <div class="detail__product-reviews">
                <div class="detail__star-reviews">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <div class="detail__evaluate">0 đánh giá</div>
                </div>
                {{!-- <div class="detail__evaluate">0 đánh giá</div> --}}
                <div class="baohanh">Bảo hành 36 tháng</div>
            </div>
            <div class="detail__product-price">
                <p>Giá sản phẩm:</p>
                <p class="currFormat detail__product-price-cls">{{pro.price}} đ</p>
                <p class="currFormat">{{pro.price}} đ</p>
            </div>
            <div class="short-desc">
                <p>- Bộ nhớ: 12GB GDDR6X</p>
                <p>- Bus bộ nhớ: 192-bit</p>
                <p>- Xung nhịp bộ nhớ: 15 Gbps</p>
                <p>- Xung nhịp GPU Boost: 1837 MHz</p>
                <p>- Chuẩn giao tiếp: PCI-E 4.0</p>
                <p>- Cuda Core: 3584</p>
                <p>- Công suất nguồn đề nghị: 550W</p>
                <p>- Cổng xuất hình: 1 x HDMI 2.1; DisplayPort 1.4a x 3</p>
            </div>
            <div class="status__quantity">
                <p class="stastus"><span><i class="fa fa-circle"></i>CÒN HÀNG</span></p>
            </div>
            <div class="buttons__added__cart">
                <div class="col-3 buttons__added">
                    <input class="minuss is__form" type="button" value="-">
                    <input aria-label="quantity" class="input__qty" max="Số tối đa" min="Số tối thiểu" name="" type="number" value="">
                    <input class="pluss is__form" type="button" value="+">
                </div>
                <button class="col-4 btn__added"><i class="far fa-shopping-basket"></i> THÊM VÀO GIỎ HÀNG</button>
                <button class="col-4 btn__buynow"><i class="far fa-plus"></i>MUA NGAY</button>
            </div>
        </div>
    </div>
    <div class="product__detail-policy__item">
        <div class="policy__item">
            <i class="far fa-credit-card"></i>
            <p>Hỗ trợ trả góp 0%, trả trước 0đ</p>
        </div>
        <div class="policy__item">
            <i class="fad fa-money-bill-alt"></i>
            <p>Hoàn tiền 200% nếu có hàng giả</p>
        </div>
        <div class="policy__item">
            <i class="fas fa-shipping-fast"></i>
            <p>Giao hàng nhanh trên toàn quốc</p>
        </div>
        <div class="policy__item">
            <i class="far fa-comment-alt-dots"></i>
            <p>Hỗ trợ kĩ thuật online 7/7</p>
        </div>
    </div>
    <ul class="product__detail-menu-mini">
        <a href="#">Chi tiết sản phẩm</a>
        <a href="#">Thông số kỹ thuật</a>
        <a href="#">Video</a>
        <a href="#">Đánh giá</a>
    </ul>
    <div class="content-description">
        <p>Laptop Asus ROG Strix G15 G513QE-HN015T là dòng Laptop có thiết kế cao cấp đến từ Asus với dòng VGA 3050 mang lại
            hiệu năng cao trong quá trình sử dụng. Hiện sản phẩm đang được bán tại T2PC.
        </p>
        <div><img src="/img/description/laptop-asus-rog-strix-g15-g513qe.jpg" alt=""></div>
    </div>
  </div>
</div>