<div class="container pay__container">

        <!-- Phâng title - Thanh toán hoá đơn-->
        <div class="row pay__header">
            <h3>Thanh toán đơn hàng</h3>
        </div>

        <!-- Thông tin khách hàng và hàng hoá -->
        <div class="row pay-address">

            <!-- Địa chỉ nhận hàng -->
            <div class="col-6 pay__address">
                <div class="pay__address-top"></div>
                <div class="pay__address-main">
                    <div class="local__address"><i class="fas fa-map-marked-alt"></i> Địa chỉ nhận hàng</div>
                    <div class="name-customer style__customer">
                        <label class="col-3">Họ Và Tên người nhận: </label>
                        <span id="nameCustomer" class="col-8">{{acc.name}}</span>
                        <div class="col-1 btn__in-customer">
                            <button onclick="toInput($('#nameCustomer'));"><i class="fal fa-edit"></i></button>
                            {{!-- <button><i class="fas fa-check"></i></button> --}}
                        </div>
                    </div>
                    <div class="address-customer style__customer">
                        <label class="col-3">Số Điện Thoại người nhận: </label>
                        <span id="phoneNumberCus" class="col-8">{{acc.phone}}</span>
                        <div class="col-1 btn__in-customer">
                            <button onclick="toInput($('#phoneNumberCus'));"><i class="fal fa-edit"></i></button>
                            {{!-- <button><i class="fas fa-check"></i></button> --}}
                        </div>
                    </div>
                    <div class="address-customer style__customer">
                        <label class="col-3" for="email">Email:</label>
                        <span id="emailCustomer" class="col-8">{{acc.email}}</span>
                        <div class="col-1 btn__in-customer">
                            <button onclick="toInput($('#emailCustomer'));" ><i class="fal fa-edit"></i></button>
                            {{!-- <button><i class="fas fa-check"></i></button> --}}
                        </div>
                    </div>
                    <div class="address-customer style__customer">
                        <label class="col-3">Địa chỉ nhận hàng: </label>
                        <span id="addressCustomer" class="col-8">{{acc.address}}</span>
                        <div class="col-1 btn__in-customer">
                            <button onclick="toInput($('#addressCustomer'));"><i class="fal fa-edit"></i></button>
                            {{!-- <button><i class="fas fa-check"></i></button> --}}
                        </div>
                    </div>
                    <div class="note-of-customer">
                        <p class="col-3">Ghi chú:</p>
                        <textarea class="col-9" name="" id="" cols="30" rows="3" placeholder="Nhập ghi chú"></textarea>
                    </div>
                </div>
                <div class="pay__address-top"></div>
                <div class="payments">
                    <h5>HÌNH THỨC THANH TOÁN</h5>
                    <div class="payments_cod">
                        <div>
                            <input type="radio" id="cod" name="fav_language" value="" checked="checked">
                            <label for="cod">Thanh toán khi giao hàng (COD)</label>
                        </div>
                        <span>Có thể sử dụng</span>
                    </div>
                    <div class="payments_baning">
                        <div>
                            <input disabled type="radio" id="banking" name="fav_language" value="">
                            <label for="banking">Thanh toán online (Internet Banking)</label>
                        </div>
                        <span>Đang cập nhật</span>
                    </div>
                </div>
            </div>

            <!-- Giỏ hàng thanh toán-->
            <div class="col-6 pay__detail">

                <!-- Thông tin giỏ hàng -->
                <div class="pay__detail-cart">
                    <h5>THÔNG TIN GIỎ HÀNG</h5>
                    <div class="amount__product">
                        <p>Số lượng sản phẩm</p>
                        <p>{{totalAmount}}</p>
                    </div>
                    <div class="price__buy-product">
                        <p>Tổng chi phí</p>
                        <p class="currFormat">{{totalPrice}} đ</p>
                    </div>
                    <p>Đã bao gồm VAT (Nếu có)</p>
                </div>
      
                
                <!-- Danh sách sản phẩm -->
                <div class="list-product-in-cart">
                    {{#each pros}}
                    <div class="pay__list-product">
                        <div class="col-2 img-prd-in-cart">
                            <div class="mini-img-prd-in-cart"><img class="img-checkout" src="{{this.img}}" alt=""></div>
                        </div>
                        <div class="col-4 name-product-in-cart">
                            <p class="product-in-cart-first">Tên sản phẩm</p>
                            <p class="product-in-cart-last">{{this.name}}</p>
                        </div>
                        <div class="col-2 amount-product-in-cart">
                            <p>Số lượng</p>
                            <p class="amount-product-checkout">{{this.amount}}</p>
                        </div>
                        <div class="col-4 into-money">
                            <p>Thành tiền</p>
                            <p class="total-price-each-pro currFormat">{{mul this.amount this.price}}</p>
                        </div>
                    </div> 
                    {{/each}}                                   
                </div>
            </div>
        </div>

        <!-- Button đặt hàng -->
        <div class="row pay__footer">
            <p class="col-10">Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <span>Điều khoản của T2PC</span></p>
            <button class="col-2 snip1582">Đặt hàng</button>
        </div>
    </div>

    <script>
    function toInput(elem){
        var input = $("<input>", {
            val: elem.text(),
            type: "text" });
        elem.replaceWith(input);
        input.select();
    }
    </script>

    <script>
    function toInput(elem){
        var input = $("<input>", {
            val: elem.text(),
            type: "text" });
        elem.replaceWith(input);
        input.select();
    }
 </script>
    