<div class="container pay__container">

    <!-- Phâng title - Thanh toán hoá đơn-->
    <div class="row pay__header">
        <h3>Thanh toán đơn hàng</h3>
    </div>

    <!-- Thông tin khách hàng và hàng hoá -->
    <div class="row pay-address">

        <!-- Địa chỉ nhận hàng -->
        <div class="col-6 pay__address">
            <div class="pay__address-top"></div>
            <div class="pay__address-main">
                <div class="form-floating mb-3">
                    <input class="form-control" id="nameCustomer" type="text" placeholder="username"
                        value="{{acc.name}}" />
                    <label for="nameCustomer">Họ tên người nhận *</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="phoneCustomer" type="number" placeholder="username"
                        value={{acc.phone}} />
                    <label for="phoneCustomer">Số điện thoại người nhận *</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="emailCustomer" type="text" placeholder="username"
                        value="{{acc.email}}" />
                    <label for="phoneCustomer">Email nhận thông báo</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="addressCustomer"
                        style="height: 100px" >{{acc.address}}</textarea>
                    <label for="floatingTextarea2">Địa chỉ người nhận *</label>
                </div>
                <div class="form-floating" style="margin-top: 1em;">
                    <textarea class="form-control" placeholder="Leave a comment here" id="noteCustomer"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Ghi chú</label>
                </div>
            </div>
            <div class="pay__address-top"></div>
            <div class="payments">
                <h5>HÌNH THỨC THANH TOÁN</h5>
                <div class="payments_cod">
                    <div>
                        <input type="radio" id="cod" name="fav_language" value="" checked="checked">
                        <label for="cod">Thanh toán khi giao hàng (COD)</label>
                    </div>
                    <span>Có thể sử dụng</span>
                </div>
                <div class="payments_baning">
                    <div>
                        <input disabled type="radio" id="banking" name="fav_language" value="">
                        <label for="banking">Thanh toán online (Internet Banking)</label>
                    </div>
                    <span>Đang cập nhật</span>
                </div>
            </div>
        </div>

        <!-- Giỏ hàng thanh toán-->
        <div class="col-6 pay__detail">

            <!-- Thông tin giỏ hàng -->
            <div class="pay__detail-cart">
                <h5>THÔNG TIN GIỎ HÀNG</h5>
                <div class="amount__product">
                    <p>Số lượng sản phẩm</p>
                    <p>{{totalAmount}}</p>
                </div>
                <div class="price__buy-product">
                    <p>Tổng chi phí</p>
                    <p class="currFormat">{{totalPrice}} đ</p>
                </div>
                <p>Đã bao gồm VAT (Nếu có)</p>
            </div>


            <!-- Danh sách sản phẩm -->
            <div class="list-product-in-cart">
                {{#each pros}}
                <div class="pay__list-product">
                    <div class="col-2 img-prd-in-cart">
                        <div class="mini-img-prd-in-cart"><img class="img-checkout" src="{{this.img}}" alt=""></div>
                    </div>
                    <div class="col-4 name-product-in-cart">
                        <p class="product-in-cart-first">Tên sản phẩm</p>
                        <p class="product-in-cart-last"><a href="/product/{{this.id}}/detail">{{this.name}}</a></p>
                    </div>
                    <div class="col-2 amount-product-in-cart">
                        <p>Số lượng</p>
                        <p class="amount-product-checkout">{{this.amount}}</p>
                    </div>
                    <div class="col-4 into-money">
                        <p>Thành tiền</p>
                        <p class="total-price-each-pro currFormat">{{mul this.amount this.price}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <!-- Button đặt hàng -->
    <div class="row pay__footer">
        <p class="col-10">Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <span>Điều khoản của T2PC</span></p>
        <button id="btn-so" class="col-2 snip1582">Đặt hàng</button>
    </div>
    {{!-- Form submit order --}}
    <form action="/account/submit-order" method="POST" name="submitOder" style="display: none;">
        <input type="text" id="listProID" name="listProID">
        <input type="text" id="userID" name="userID" value="{{session.User.id}}">
        <input type="text" id="nameReceiver" name="nameReceiver">
        <input type="text" id="userNote" name="userNote">
        <input type="text" id="totalPrice" name="totalPrice">
        <input type="text" id="address" name="address">
        <input type="text" id="phone" name="phone">
        <input type="text" id="email" name="email">
        <input type="text" id="amount" name="amount">
    </form>
</div>
<script>
    var btnSubmit = document.getElementById('btn-so');
    btnSubmit.onclick = function () {
        //lấy thông tin
        var name = document.getElementById('nameCustomer').value;
        var phone = document.getElementById('phoneCustomer').value;
        var email = document.getElementById('emailCustomer').value;
        var address = document.getElementById('addressCustomer').value;
        var note = document.getElementById('noteCustomer').value;
        var cart = JSON.parse(sessionStorage.getItem('Cart'));
        $('#nameReceiver').val(name);
        $('#phone').val(phone);
        $('#email').val(email);
        $('#address').val(address);
        $('#userNote').val(note);
        $('#listProID').val(cart.id);
        $('#totalPrice').val(sessionStorage.totalPrice);
        $('#amount').val(cart.amount);
        //validate các trường thông tin
        if (!name || !phone || !address) {
            alert('Thông tin giao hàng thiếu hoặc không hợp lệ ! Quý khách vui lòng kiểm tra lại');
            return;
        }
        //xóa giỏ hàng
        sessionStorage.removeItem('Cart');
        sessionStorage.numPro = 0;
        sessionStorage.totalPrice = 0;
        document.forms['submitOder'].submit();
    }
</script>
<script>
    function toInput(elem) {
        var input = $("<input>", {
            val: elem.text(),
            type: "text"
        });
        elem.replaceWith(input);
        input.select();
    }
</script>

<script>
    function toInput(elem) {
        var input = $("<input>", {
            val: elem.text(),
            type: "text"
        });
        elem.replaceWith(input);
        input.select();
    }
</script>