<div class="container account-detail">

    {{!-- --}}
    <div class="account-detail-header shadow">
        <div class="bg-user">
            <img src="/img/bg.jpg" alt="">
            {{!-- <button class="change-bg-acc"><i class="fad fa-camera"></i></button> --}}
        </div>
        <ul class="account-info">
            <li>Ngày đăng kí: <span class="timeFormat">
                    {{acc.createdAt}}</span></li>
            <li class="vertical-divider">Ngày cập nhật: <span class="timeFormat">
                    {{acc.updatedAt}}</span></li>
            <li class="vertical-divider currFormat">Tổng chi tiêu: <span>
                    {{acc.totalSpend}} vnđ</span></li>
        </ul>
        {{!-- Avatar --}}
        <div id="user-avt">
            <div class="avt-acc">
                <img src="{{acc.img}}" alt="" class="shadow">
                <button id="btn-change-avt" type="button" style="margin: 1em 1em;" data-bs-toggle="modal"
                    data-bs-target="#modalAvt" data-bs-userID={{acc._id}}>
                    <p> <i class="fad fa-camera"></i></p>
                </button>
            </div>
            <div class="info-acc">
                <p class="name-acc-if">{{acc.name}}</p>
                <p class="name-acc-if">Username: <span>{{acc.username}}</span></p>
            </div>
        </div>
    </div>

    {{!-- modal thực hiện đổi avt --}}
    <div class="modal fade" id="modalAvt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn ảnh thay thế</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name='form-update-avt' method="POST" enctype="multipart/form-data">

                        <label for="updateImg" class="col-form-label">Ảnh đã chọn</label>
                        <input type="file" name="updateAvt" class="form-control" id="updateAvt">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" id="btn-submit-avt" class="btn btn-warning">Cập nhật ảnh</button>
                </div>
            </div>
        </div>
    </div>
    <div class=" account-detail-content shadow row">
        <div id="acc-menu-side" class="col-3">
            {{>account-menu}}
        </div>
        <div id="acc-content" class="col-9">
            <br>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Ngày đặt hàng</th>
                        <th>Họ tên người nhận</th>
                        <th>Lời nhắn từ T2PC</th>
                        <th>Giá trị đơn hàng</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                        <th>Huỷ đơn</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Ngày đặt hàng</th>
                        <th>Họ tên người nhận</th>
                        <th>Lời nhắn từ T2PC</th>
                        <th>Giá trị đơn hàng</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                        <th>Huỷ đơn</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{sum @index 1}}</td>
                        <td class="timeFormat">{{this.createdAt}}</td>
                        <td>{{this.nameReceiver}}</td>
                        <td>{{this.adminNote}}</td>
                        <td class="currFormat">{{this.totalPrice}} đ</td>
                        {{#if (eq this.status 0)}}
                        <td class="status status-pending"><i class="fad fa-spinner"></i> Đang chờ xử lí</td>
                        {{/if}}
                        {{#if (eq this.status 1)}}
                        <td class="status status-success"><i class="fad fa-shipping-fast"></i> Đang giao hàng</td>
                        {{/if}}
                        {{#if (eq this.status 4)}}
                        <td class="status status-danger"><i class="fad fa-spinner"></i> Đang chờ huỷ đơn</td>
                        {{/if}}
                        <td>
                            <button type="button" style="margin: 1em 1em;" title="Chi tiết đơn hàng"
                                class="btn btn-success btn-circle" data-bs-toggle="modal"
                                data-bs-target="#modalChitietdon" data-bs-proName='{{this.proNameString}}'
                                data-bs-proID="{{this.listProID}}" data-bs-proImg="{{this.listImg}}"
                                data-bs-listPrice="{{this.listPrice}}" data-bs-amount="{{this.amount}}"
                                data-bs-address="{{this.address}}" data-bs-phone="{{this.phone}}"
                                data-bs-nameReceiver="{{this.nameReceiver}}" data-bs-id="{{this._id}}">
                                <i class="fas fa-folder-open"></i></button>

                        </td>
                        <td>
                            {{#if (eq this.status 0)}}
                            <button type="button" title="Hủy đơn hàng" style="margin: 1em 1em;"
                                class="btn btn-danger btn-circle" data-bs-toggle="modal" data-bs-id="{{this._id}}"
                                data-bs-target="#modalHuydon"><i class="fas fa-align-slash"></i></button>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal chi tiết đơn hàng-->
    <div class="modal fade" id="modalChitietdon" tabindex="-1" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 62em">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Chi tiết đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalChitietdon-root-node" class="modalChitietdon-product">
                        <div class="img__modalChitietdon"><img src="" alt=""></div>
                        <div id="pro-name"></div>
                        <div id="amount-pro">
                            <p>Số lượng</p>
                            <div id="amount-value"></div>
                        </div>
                        <div id="price-pro">
                            <p>Đơn giá</p>
                            <div id="price-value">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7" id="modalChitietdon-pro-list">
                        </div>
                        <div class="col-5 info__Chitietdon-pro-list">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="modalChitietdon-name-receiver"
                                    placeholder="name@example.com" readonly>
                                <label for="floatingInput">Họ tên người nhận</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="modalChitietdon-phone"
                                    placeholder="name@example.com" readonly>
                                <label for="floatingInput">Số điện thoại nhận hàng</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                    id="modalChitietdon-address" style="height: 100px" readonly></textarea>
                                <label for="modalChitietdon-address">Địa chỉ nhận hàng</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal chi tiết đơn hàng-->
    {{!-- Modal huỷ đơn --}}
    <div class="modal fade" id="modalHuydon" tabindex="-1" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 62em">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Hủy đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" name="adminNoteForm">
                        <input type="radio" name="userNote" checked='true' value="Lý do: Đặt trùng đơn hàng">
                        Lý do: Đặt trùng đơn hàng<br> <br>
                        <input type="radio" name="userNote" value="Lý do: Đặt đơn hàng khác">
                        Lý do: Đặt đơn hàng khác<br> <br>
                        <input type="radio" name="userNote" value="Lý do: Không muốn mua hàng nữa">
                        Lý do: Không muốn mua hàng nữa<br> <br>
                        <input type="radio" name="userNote" value="other"> Lý do khác <br> <br>
                        <textarea class="form-control" placeholder="Lý do khác" id="other-reason"
                            style="height: 100px"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" id="modalHuydon__btn-submit" class="btn btn-danger">Xác
                        nhận hủy đơn</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Modal huỷ đơn --}}
</div>
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
<script>
    var btnChangeAvt = document.getElementById('btn-submit-avt');
    var formChangeAvt = document.forms['form-update-avt'];
    var modalChangeAvt = document.getElementById('modalAvt');
    var userID;

    modalChangeAvt.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        userID = button.getAttribute('data-bs-userID');
    });
    btnChangeAvt.onclick = function () {
        formChangeAvt.action = '/account/' + userID + '/change-avt?_method=PUT';
        formChangeAvt.submit();
    }
    //Sự kiện hiện nút menu khi hover
    document.getElementById('account__pending-cart').classList.add('tab-active');
    var tabMenu = document.getElementsByClassName('tab');
    var currentTab;
    for (let i = 0; i < tabMenu.length; i++) {
        if (tabMenu[i].classList.contains('tab-active'))
            currentTab = i;
    }
    for (let i = 0; i < tabMenu.length; i++) {
        if (i != currentTab) {
            tabMenu[i].onmouseover = function () {
                tabMenu[i].classList.add('tab-active');
            }
            tabMenu[i].onmouseout = function () {
                tabMenu[i].classList.remove('tab-active');
            }
        }
    }
    var modalChitietdon = document.getElementById('modalChitietdon');
    modalChitietdon.addEventListener('show.bs.modal', function (event) {
        var btn = event.relatedTarget;
        var proName = btn.getAttribute('data-bs-proName').split('`');
        var proImg = btn.getAttribute('data-bs-proImg').split(',');
        var amount = btn.getAttribute('data-bs-amount').split(',');
        var price = btn.getAttribute('data-bs-listPrice').split(',').map((x) => +x);
        var root = document.getElementById('modalChitietdon-root-node');
        var mainList = document.getElementById('modalChitietdon-pro-list');
        document.getElementById('modalChitietdon-name-receiver').value = btn.getAttribute('data-bs-nameReceiver');
        document.getElementById('modalChitietdon-phone').value = btn.getAttribute('data-bs-phone');
        document.getElementById('modalChitietdon-address').value = btn.getAttribute('data-bs-address');
        for (let i = 0; i < proImg.length; i++) {
            var cloneNode = root.cloneNode(true);
            cloneNode.removeAttribute('id');
            cloneNode.childNodes[1].childNodes[0].src = proImg[i];
            cloneNode.childNodes[3].innerHTML = proName[i];
            cloneNode.childNodes[5].childNodes[3].innerHTML = amount[i];
            cloneNode.childNodes[7].childNodes[3].innerHTML = (price[i] + ' đ').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            mainList.appendChild(cloneNode);
        }

    })
    modalChitietdon.addEventListener('hidden.bs.modal', function () {
        var mainList = document.getElementById('modalChitietdon-pro-list');
        mainList.innerHTML = '';
    })
</script>
{{!-- Thuật toán xử lí hủy đơn --}}
<script>
    var modalHuydon = document.getElementById('modalHuydon');
    modalHuydon.addEventListener('show.bs.modal', function (event) {
        var btn = event.relatedTarget;
        var id = btn.getAttribute('data-bs-id');
        var userNote = document.adminNoteForm.userNote;
        userNote[0].checked = true;
        document.adminNoteForm.action = '/account/cancel-order/' + id + '?_method=PUT';
        var edit = document.getElementById('other-reason');
        edit.setAttribute('readonly', true);
        for (let i = 0; i < userNote.length; i++)
            userNote[i].addEventListener('change', function () {
                if (this.checked && this.value == 'other')
                    edit.removeAttribute('readonly');
                else
                    edit.setAttribute('readonly', true);
            })
        var btnsubmit = document.getElementById('modalHuydon__btn-submit');
        btnsubmit.onclick = function () {
            if (userNote[3].checked)
                userNote[3].value = edit.value;
            document.adminNoteForm.submit();
        }
    })
</script>
{{!-- Thuật toán xử lí hủy đơn --}}