<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/"> <img src="/img/logo.png" alt="" style="width: 7em; margin-left: 2em"></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Danh mục quản lý</div>
                    <a class="nav-link" href="/admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/admin/event">
                        <div class="sb-nav-link-icon"><i class="fas fa-gifts"></i></div>
                        Sự kiện
                    </a>
                    <a class="nav-link" href="/admin">
                        <div class="sb-nav-link-icon"><i class="far fa-user-circle"></i></div>
                        Tài khoản
                    </a>
                    <a class="nav-link" href="/admin/product">
                        <div class="sb-nav-link-icon"><i class="fad fa-computer-speaker"></i></div>
                        Sản phẩm
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fad fa-money-bill-wave"></i></div>
                        Đơn hàng
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/order/pending">
                                <div class="sb-nav-link-icon"><i class="fad fa-spinner"></i></div>
                                Đơn hàng chờ xử lí
                            </a>
                            <a class="nav-link" href="/admin/order/shipping">
                                <div class="sb-nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                                Đơn đang giao
                            </a>
                            <a class="nav-link" href="/admin/order/done">
                                <div class="sb-nav-link-icon"><i class="fad fa-file-check"></i></div>
                                Đã hoàn thành
                            </a>
                            <a class="nav-link" href="/admin/order/canceled">
                                <div class="sb-nav-link-icon"><i class="fad fa-trash"></i></div>
                                Đã bị hủy
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Chào mừng boss <i class="far fa-grin-squint"></i>:</div>
                {{session.User.name}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"><i class="fad fa-spinner"></i> Đơn hàng chờ xử lí</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Pending order</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách sự kiện
                    </div>
                    <div class="card-body">

                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Số thứ tự</th>
                                    <th>Thời gian đặt hàng</th>
                                    <th>User đặt hàng</th>
                                    <th>Lời nhắn</th>
                                    <th>Giá trị đơn hàng</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Số thứ tự</th>
                                    <th>Thời gian đặt hàng</th>
                                    <th>User đặt hàng</th>
                                    <th>Lời nhắn</th>
                                    <th>Giá trị đơn hàng</th>
                                    <th>Hành động</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td class="timeFormat2">{{this.createdAt}}</td>
                                    <td class="tborder__username">
                                        <p>{{this.acc.username}}</p>
                                        <button class="btn btn-info btn-circle" data-bs-toggle="modal"
                                            title="Chi tiết tài khoản" data-bs-target="#modalUser"
                                            data-bs-avt="{{this.acc.img}}" data-bs-username="{{this.acc.username}}"
                                            data-bs-name="{{this.acc.name}}" data-bs-createdAt="{{this.acc.createdAt}}"
                                            data-bs-email="{{this.acc.email}}" data-bs-phone="{{this.acc.phone}}"
                                            data-bs-totalSpend="{{this.acc.totalSpend}}"
                                            data-bs-status="{{this.acc.status}}" data-bs-id="{{this.acc._id}}"
                                            id="btn-user-detail"><i class="fas fa-user-tie"></i></button>
                                    </td>
                                    <td>{{this.userNote}}</td>
                                    <td class="currFormat">{{this.totalPrice}} đ</td>
                                    <td>
                                        <button type="button" style="margin: 1em 1em;" title="Chi tiết đơn hàng"
                                            class="btn btn-success btn-circle" data-bs-toggle="modal"
                                            data-bs-target="#modalChitietdon" data-bs-proName='{{this.proNameString}}'
                                            data-bs-proID="{{this.listProID}}" data-bs-proImg="{{this.listImg}}"
                                            data-bs-listPrice="{{this.listPrice}}" data-bs-amount="{{this.amount}}"
                                            data-bs-address="{{this.address}}" data-bs-phone="{{this.phone}}"
                                            data-bs-nameReceiver="{{this.nameReceiver}}" data-bs-id="{{this._id}}">
                                            <i class="fas fa-folder-open"></i></button>
                                        <button type="button" title="Hủy đơn hàng" style="margin: 1em 1em;"
                                            class="btn btn-danger btn-circle" data-bs-toggle="modal" data-bs-id="{{this._id}}"
                                            data-bs-target="#modalHuydon"><i class="fas fa-align-slash"></i></button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <!-- Modal chi tiết user-->
                        <div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="modalUserLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="max-width: 62em">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUserLabel">Chi tiết user đặt hàng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <img id="avt-user" src="" alt="">
                                            </div>
                                            <div class="col-9">
                                                <div class="row">
                                                    <div class="col-6 form-floating mb-3">
                                                        <input type="text" class="form-control" id="username-user"
                                                            placeholder="name@example.com" readonly>
                                                        <label for="username-user">Tên đăng nhập</label>
                                                    </div>
                                                    <div class="col-6 form-floating mb-3">
                                                        <input type="text" class="form-control" id="name-user"
                                                            placeholder="name@example.com" readonly>
                                                        <label for="name-user">Họ và tên</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 form-floating mb-3">
                                                        <input type="text" class="form-control" id="email-user"
                                                            placeholder="name@example.com" readonly>
                                                        <label for="username-user">Email</label>
                                                    </div>
                                                    <div class="col-6 form-floating mb-3">
                                                        <input type="text" class="currFormat form-control"
                                                            id="spend-user" placeholder="name@example.com" readonly>
                                                        <label for="name-user">Tổng chi tiêu</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 form-floating mb-3">
                                                <input type="text" class="form-control" id="phone-user"
                                                    placeholder="name@example.com" readonly>
                                                <label for="username-user">Số điện thoại</label>
                                            </div>
                                            <div class="col-5 form-floating mb-3">
                                                <input type="text" class="timeFormat form-control" id="ngaytao-user"
                                                    placeholder="name@example.com" readonly>
                                                <label for="username-user">Ngày tạo</label>
                                            </div>
                                            <div class="col-2">
                                                <p id="status-user"></p>
                                            </div>
                                        </div>
                                        <div class="row" id='banGroup'>
                                            <div class="col-2">
                                                <div id="get-user-id" style="display: none;"></div>
                                                <button onclick="openBanUser()" class="btn btn-danger">Khóa tài
                                                    khoản</button>
                                            </div>
                                            <div class="col-6 form-floating mb-3" style="display: none;"
                                                id="li-do-khoa">
                                                <textarea class="form-control" placeholder="Leave a comment here"
                                                    id="why-ban" style="height: 100px"></textarea>
                                                <label for="floatingTextarea2">Lí do khóa</label>
                                            </div>
                                            <div class="col-4" style="display: none;" id="remindBan">
                                                <p class="row">Bạn có chắc chắn muốn khóa người dùng này ?</p>
                                                <div class="row">
                                                    <button onclick="submitBan()" class="col-7 btn btn-danger">Xác
                                                        nhận</button>
                                                    <div class="col-1"></div>
                                                    <button onclick="cancelBan()"
                                                        class="col-4 btn btn-secondary">Hủy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal chi tiết user-->
                        <!-- Modal chi tiết đơn hàng-->
                        <div class="modal fade" id="modalChitietdon" tabindex="-1" aria-labelledby="modalUserLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="max-width: 62em">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUserLabel">Chi tiết đơn hàng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modalChitietdon-root-node" class="modalChitietdon-product">
                                            <div class="img__modalChitietdon"><img src="" alt=""></div>
                                            <div id="pro-name"></div>
                                            <div id="amount-pro">
                                                <p>Số lượng</p>
                                                <div id="amount-value"></div>
                                            </div>
                                            <div id="price-pro">
                                                <p>Đơn giá</p>
                                                <div id="price-value">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7" id="modalChitietdon-pro-list">

                                            </div>
                                            <div class="col-5 info__Chitietdon-pro-list">
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control"
                                                        id="modalChitietdon-name-receiver"
                                                        placeholder="name@example.com" readonly>
                                                    <label for="floatingInput">Họ tên người nhận</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control" id="modalChitietdon-phone"
                                                        placeholder="name@example.com" readonly>
                                                    <label for="floatingInput">Số điện thoại nhận hàng</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control"
                                                        id="modalChitietdon-address" placeholder="name@example.com"
                                                        readonly>
                                                    <label for="floatingInput">Địa chỉ nhận hàng</label>
                                                </div>
                                                <div class="form-floating">
                                                    <textarea class="form-control" placeholder="Leave a comment here"
                                                        id="admin-note" style="height: 100px"></textarea>
                                                    <label for="floatingTextarea2">Lời nhắn tới user</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="modalChitietdon-btn-submit" class="btn btn-success"><i
                                                class="fad fa-check"></i> Xác nhận đơn hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal chi tiết đơn hàng-->
                        {{!-- Modal hủy đơn hàng --}}
                        <div class="modal fade" id="modalHuydon" tabindex="-1" aria-labelledby="modalUserLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 62em">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUserLabel">Hủy đơn hàng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" name="adminNote">
                                              <input type="radio" name="adminNote" checked='true'
                                              value=" Lý do: Thông tin nhận hàng không phù hợp (địa chỉ không tồn tại hoặc nằm ngoài lãnh thổ Việt Nam, số điện thoại không liên lạc được...)"
                                              > Lý do: Thông tin nhận hàng không phù hợp (địa chỉ không tồn tại hoặc nằm ngoài lãnh thổ Việt Nam, số điện thoại không liên lạc được...)<br> <br>
                                               <input type="radio" name="adminNote" 
                                              value=" Lý do: Tài khoản người dùng đã bị khóa hoặc chưa kích hoạt, vui lòng kiểm tra email để kích hoạt tài khoản !"
                                              > Lý do: Tài khoản người dùng đã bị khóa hoặc chưa kích hoạt, vui lòng kiểm tra email để kích hoạt tài khoản !<br> <br>
                                              <input type="radio" name="adminNote" 
                                              value=" Lý do: Sản phẩm trong đơn hàng đã hết hoặc gặp vấn đề không mong muốn (chúng tôi rất xin lỗi về sự cố này ! )"
                                              > Lý do: Sản phẩm trong đơn hàng đã hết hoặc gặp vấn đề không mong muốn (chúng tôi rất xin lỗi về sự cố này ! )<br> <br>
                                              <input type="radio" name="adminNote" 
                                              value=" Lý do khác"
                                              > Lý do khác <br> <br>
                                            <textarea class="form-control" placeholder="Lý do khác" id="admin-note"
                                                style="height: 100px" readonly></textarea>
                                          
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-danger">Xác nhận hủy đơn</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Modal hủy đơn hàng --}}
                        {{!-- Thuật toán xử lí modal User --}}
                        <script>
                            function openBanUser() {
                                document.getElementById('li-do-khoa').style.display = 'inline';
                                document.getElementById('remindBan').style.display = 'inline';
                            };
                            function cancelBan() {
                                document.getElementById('li-do-khoa').style.display = 'none';
                                document.getElementById('remindBan').style.display = 'none';
                            };
                            function submitBan() {
                                var whyban = document.getElementById('why-ban');
                                if (!whyban.value) {
                                    alert('Vui lòng điền lí do khóa tài khoản !');
                                    return;
                                }
                                else {
                                    var userid = document.getElementById('get-user-id').innerHTML;
                                    var form = document.forms['shipper'];
                                    var inputreason = document.createElement('input');
                                    inputreason.name = 'why';
                                    inputreason.value = whyban.value;
                                    form.appendChild(inputreason);
                                    form.action = '/admin/banuser/' + userid + '?_method=PUT';

                                    form.submit();
                                }
                            };
                            var moldalUser = document.getElementById('modalUser');
                            moldalUser.addEventListener('show.bs.modal', function (event) {
                                var btn = event.relatedTarget;
                                //alert(btn.getAttribute('data-bs-avt'));
                                document.getElementById('avt-user').src = btn.getAttribute('data-bs-avt');
                                document.getElementById('username-user').value = btn.getAttribute('data-bs-username');
                                document.getElementById('name-user').value = btn.getAttribute('data-bs-name');
                                document.getElementById('email-user').value = btn.getAttribute('data-bs-email');
                                document.getElementById('spend-user').value = btn.getAttribute('data-bs-totalSpend') + ' đ';
                                document.getElementById('phone-user').value = btn.getAttribute('data-bs-phone');
                                document.getElementById('get-user-id').innerHTML = btn.getAttribute('data-bs-id');
                                var timeString = document.getElementById('ngaytao-user');
                                timeString.value = btn.getAttribute('data-bs-createdAt');
                                var time = new Date(timeString.value);
                                let day = time.getDate();
                                let month = time.getMonth() + 1;
                                let year = time.getFullYear();
                                time = day + '-' + month + '-' + year;
                                timeString.value = time;
                                var statusPanel = document.getElementById('status-user');
                                var status = btn.getAttribute('data-bs-status');
                                switch (status) {
                                    case '0':
                                        statusPanel.innerHTML = ' <i class="fad fa-spinner"></i> đang chờ kích hoạt';
                                        statusPanel.style.color = 'gray';
                                        break;
                                    case '1':
                                        statusPanel.innerHTML = ' <i class="fad fa-check-circle"></i> đang hoạt động';
                                        statusPanel.style.color = 'green';
                                        document.getElementById('banGroup').style.display = 'flex';
                                        break;
                                    default:
                                        statusPanel.innerHTML = ' <i class="fad fa-user-slash"></i> đã bị khóa';
                                        statusPanel.style.color = 'red';
                                }

                            })
                        </script>
                        {{!-- Thuật toán xử lí modal User --}}
                        {{!-- Thuật toán xử lí duyệt đơn --}}
                        <script>
                            var modalChitietdon = document.getElementById('modalChitietdon');
                            modalChitietdon.addEventListener('show.bs.modal', function (event) {
                                var btn = event.relatedTarget;
                                var proName = btn.getAttribute('data-bs-proName').split('`');
                                var proImg = btn.getAttribute('data-bs-proImg').split(',');
                                var amount = btn.getAttribute('data-bs-amount').split(',');
                                var price = btn.getAttribute('data-bs-listPrice').split(',').map((x) => +x);
                                var root = document.getElementById('modalChitietdon-root-node');
                                var mainList = document.getElementById('modalChitietdon-pro-list');
                                document.getElementById('modalChitietdon-name-receiver').value = btn.getAttribute('data-bs-nameReceiver');
                                document.getElementById('modalChitietdon-phone').value = btn.getAttribute('data-bs-phone');
                                document.getElementById('modalChitietdon-address').value = btn.getAttribute('data-bs-address');
                                for (let i = 0; i < proName.length; i++) {
                                    var cloneNode = root.cloneNode(true);
                                    cloneNode.removeAttribute('id');
                                    cloneNode.childNodes[1].childNodes[0].src = proImg[i];
                                    cloneNode.childNodes[3].innerHTML = proName[i];
                                    cloneNode.childNodes[5].childNodes[3].innerHTML = amount[i];
                                    cloneNode.childNodes[7].childNodes[3].innerHTML = (price[i] + ' đ').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                                    mainList.appendChild(cloneNode);
                                }
                                document.getElementById('modalChitietdon-btn-submit').addEventListener('click', function () {
                                    var form = document.forms['shipper'];
                                    var idOrder = btn.getAttribute('data-bs-id');
                                    var adminNote = document.createElement('input');
                                    adminNote.setAttribute('name', 'adminnote');
                                    adminNote.value = document.getElementById('admin-note').value;
                                    form.appendChild(adminNote);
                                    form.action = '/admin/update-order/1/' + idOrder + '?_method=PUT';
                                    form.submit();

                                })
                            })
                            modalChitietdon.addEventListener('hidden.bs.modal', function () {
                                var mainList = document.getElementById('modalChitietdon-pro-list');
                                mainList.innerHTML = '';
                            })
                        </script>
                        {{!-- Thuật toán xử lí duyệt đơn --}}
                        {{!-- Thuật toán xử lí hủy đơn --}}
                        <script>
                            var modalHuydon = document.getElementById('modalHuydon');
                            modalHuydon.addEventListener('show.bs.modal',function(event){
                                var btn = event.relatedTarget;
                                var id = btn.getAttribute('data-bs-id');

                            })
                        </script>
                        {{!-- Thuật toán xử lí hủy đơn --}}
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; T2PC 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>