{{#if (eq session.User.role 'admin')}}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/"> <img src="/img/logo.png" alt="" style="width: 7em; margin-left: 2em"></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Danh mục quản lý</div>
                    <a class="nav-link" href="/account/admin-dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/admin/event">
                        <div class="sb-nav-link-icon"><i class="fas fa-gifts"></i></div>
                        Sự kiện
                    </a>
                    <a class="nav-link" href="/account/admin-dashboard">
                        <div class="sb-nav-link-icon"><i class="far fa-user-circle"></i></div>
                        Tài khoản
                    </a>
                    <a class="nav-link" href="/account/admin-dashboard">
                        <div class="sb-nav-link-icon"><i class="fad fa-computer-speaker"></i></div>
                        Sản phẩm
                    </a>

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Chào mừng boss <i class="far fa-grin-squint"></i>:</div>
                {{session.User.name}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"><i class="fas fa-computer-speaker"></i> Quản lý sản phẩm</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Product</li>
                </ol>
                <button type="button" class="btn btn-success btn-themmoi" data-bs-toggle="modal"
                    data-bs-target="#modalAddProduct">Thêm
                    mới</button>
                {{!-- Form thêm mới sản phẩm --}}
                <div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog  modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm mới nào bạn ơiiii</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{!-- Nội dung chính --}}
                                <form method="POST" action="/admin/addproduct" name="form-add-product">
                                    <div class="row  ">
                                        <div class="form-floating col-6 mb-3">
                                            <input class="form-control" id="inputProName" type="text"
                                                placeholder="Tên sản phẩm" name="inputProName" />
                                            <label for="inputProName">Tên sản phẩm</label>
                                        </div>
                                        <div class="form-floating col-6 mb-3">     
                                            <select  class="form-select" name="type" onchange="chooseInput(value)" id="proType">
                                                <option value="cpu">CPU-Bộ vi xử lí</option>
                                                <option value="mainboard">Mainboard-Bo mạch chủ</option>
                                                <option value="ram">Ram-Bộ nhớ trong</option>
                                                <option value="hdd">HDD-Ổ cứng</option>
                                                <option value="ssd">SSD-Ổ cứng thể rắn</option>
                                                <option value="vga">VGA-Card màn hình</option>
                                                <option value="case">Case-Vỏ máy tính</option>
                                                <option value="psu">PSU-Nguồn máy tính</option>
                                                <option value="laptop-gaming">Laptop gaming</option>
                                                <option value="laptop-normal">Laptop văn phòng</option>
                                                <option value="macbook">Macbook</option>
                                                <option value="monitor-gaming">Màn hình gaming</option>
                                                <option value="monitor-design">Màn hình làm đồ họa</option>
                                                <option value="monitor-vp">Màn hình văn phòng</option>
                                                <option value="keyboard">Bàn phím cơ</option>
                                                <option value="mousepad">Bàn di chuột</option>
                                                <option value="chair">Bàn, ghế gaming</option>
                                                <option value="mouse">Chuột gaming</option>
                                                <option value="microphone">Microphone</option>
                                                <option value="headphone">Tai nghe gaming</option>
                                                <option value="joy">Tay cầm chơi game</option>
                                                <option value="speaker">Loa nghe nhạc</option>
                                                <option value="cooler-air">Tản nhiệt khí PC</option>
                                                <option value="cooler-water">Tản nhiệt nước PC</option>
                                                <option value="fan">Quạt tản nhiệt PC</option>
                                                <option value="pcgaming">Gaming PC</option>
                                                <option value="pcworkstation">Workstation PC</option>
                                            </select>
                                             <label for="proType">Chủng loại</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-floating col-3 mb-3">
                                            <input class="form-control" id="inputOriginPrice" type="text"
                                                placeholder="Giá gốc" name="inputOriginPrice" />
                                            <label for="inputOriginPrice">Giá gốc</label>
                                        </div>
                                        <div class="form-floating col-3 mb-3">
                                            <input class="form-control" id="inputPrice" type="text"
                                                placeholder="Giá gốc" name="inputPrice" />
                                            <label for="inputPrice">Giá bán</label>
                                        </div>
                                        <div class="form-floating col-6 mb-3">     
                                            <select class="form-select brand-select" name="brand" id="cpu">
                                                 <option value="intel">Intel</option>
                                                 <option value="amd">AMD</option>
                                            </select>
                                            <select class="form-select brand-select" name="brand" id="mainboard">
                                                 <option value="nzxt">NZXT</option>
                                                 <option value="msi">MSI</option>
                                                 <option value="asrock">ASROCK</option>
                                                 <option value="gigabyte">GIGABYTE</option>
                                                 <option value="asus">ASUS</option>
                                            </select>
                                             <label for="proType">Hãng sx</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thôi chả thêm
                                    nữa</button>
                                <button type="button" id="btnSubmit" class="btn btn-success">Thêm thì thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách sản phẩm đang bày bán
                    </div>
                    <div class="card-body">

                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Số thứ tự <i class="fal fa-sort-circle"></i></th>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm <i class="fal fa-sort-circle"></i></th>
                                    <th>Chủng loại <i class="fal fa-sort-circle"></i></th>
                                    <th>Giá gốc <i class="fal fa-sort-circle"></i></th>
                                    <th>Giá bày bán <i class="fal fa-sort-circle"></i></th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Số thứ tự <i class="fal fa-sort-circle"></i></th>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm <i class="fal fa-sort-circle"></i></th>
                                    <th>Chủng loại <i class="fal fa-sort-circle"></i></th>
                                    <th>Giá gốc <i class="fal fa-sort-circle"></i></th>
                                    <th>Giá bày bán <i class="fal fa-sort-circle"></i></th>
                                    <th>Hành động</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td><img src="{{this.img}}" alt="" style="width: 10em"></td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.type}}</td>
                                    <td class="currFormat">{{this.price}} đ</td>
                                    <td class="currFormat">{{this.price}} đ</td>
                                    <td>
                                        <button type="button" style="margin: 1em 1em;" class="btn btn-danger"
                                            data-bs-toggle="modal" data-bs-target="#modalXoa"
                                            data-bs-eventID='{{this._id}}'>Xóa</button>
                                        <button type="button" style="margin: 1em 1em;" class="btn btn-warning"
                                            data-bs-toggle="modal" data-bs-target="#modalCapNhat"
                                            data-bs-eventID='{{this._id}}' data-bs-eventName='{{this.name}}'
                                            data-bs-eventLink={{this.link}} data-bs-eventImg={{this.img}}>Sửa</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Modal xóa -->
            <div class="modal fade" id="modalXoa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Bạn chắc chắn muốn xóa sự kiện này ? Sự kiện sẽ bị xóa vĩnh viễn
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="button" id="btn-delete-event" class="btn btn-danger">Chắc chắn! Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; T2PC 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>
<script src="/js/product-dashboard.js"></script>
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
{{else}}
{{>404}}
{{/if}}