<div class="container main-home">
  <div class="row main__home">
    {{!--slide-event --}}
    <div id="slide-event" class="carousel slide carousel-dark shadow" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {{#each events}}
        {{#if @first}}
        <button type="button" data-bs-target="#slide-event" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        {{else}}
        <button type="button" data-bs-target="#slide-event" data-bs-slide-to="{{@index}}" aria-label="Slide 2"></button>
        {{/if}}
        {{/each}}
      </div>
      <div class="carousel-inner">
        {{#each events}}
        {{#if @first}}
        <div class="carousel-item active" data-bs-interval="3000">
          <a href="{{this.link}}" target="_blank">
            <img src="{{this.img}}" class="d-block w-100" alt="...">
          </a>
        </div>
        {{else}}
        <div class="carousel-item" data-bs-interval="3000">
          <a href="{{this.link}}" target="_blank">
            <img src="{{this.img}}" class="d-block w-100" alt="...">
          </a>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#slide-event" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden ">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#slide-event" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    {{!-- danh mục sản phẩm --}}
    <div class="style__slider container-product">
      {{!-- Phần title bên trên --}}
      <div class="ls-product">
        <div class="seperate">
          <div class="seperate__left">
            <div class="seperate__square"></div>
            <div class="triangle_down"></div>
          </div>
          <p>THÔNG TIN SẢN PHẨM</p>
          <div class="seperate__right">
            <div class="triangle_up"></div>
            <div class="seperate__square"></div>
          </div>
        </div>
        {{!-- <div class="banner__submenu">
          <img src="img/banner-submenu/a.jpg" alt="">
        </div> --}}
        {{!-- Phần danh sách bên dưới --}}
        <div class="ls-product-main">
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">GAMING<br>WORKSTATION<br>PC</div>
              <img src="img/ls-product/gear.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(255, 143, 2);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">LAPTOP<br>GAMING</div>
              <img src="img/ls-product/gaming-laptop.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(255, 242, 0);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">GAMING<br>GEAR</div>
              <img src="img/ls-product/gaming-gear.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(30, 236, 24);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">PHỤ KIỆN<br>TẢN NHIỆT <br> PC</div>
              <img src="img/ls-product/phu-kien.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(142, 7, 239);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">LINH KIỆN<br>MÁY TÍNH</div>
              <img src="img/ls-product/linh-kien.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(0, 249, 201);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">MÀN HÌNH<br>MÁY TÍNH</div>
              <img src="img/ls-product/man-hinh.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(249, 73, 95);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">BÀN GHẾ<br>GAMING</div>
              <img src="img/ls-product/ban-ghe.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(102, 93, 234);"></div>
            </div>
          </a>
          <a href="#">
            <div class="detail-lspm">
              <div class="tilte-lspm">THIẾT BỊ <br> MẠNG</div>
              <img src="img/ls-product/thiet-bi-mang.png" alt="">
              <div class="shape" style="border-color: rgb(41, 50, 78) transparent rgb(241, 232, 155);"></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    {{!-- Các sản phẩm giảm giá --}}
    <div class="style__slider discount__product">
      <div class="seperate">
        <div class="seperate__left">
          <div class="seperate__square"></div>
          <div class="triangle_down"></div>
        </div>
        <p>SẢN PHẨM GIẢM GIÁ</p>
        <div class="seperate__right">
          <div class="triangle_up"></div>
          <div class="seperate__square"></div>
        </div>

      </div>

      <div class="slider__discount">
        <div class="main__slider">
          {{#each discountPro}}
          <div class="item">
            <div class="img-item">
              <img src="{{this.img}}" alt="">
              <div class="btn__main-product">
                  <button onclick="goToDetail('{{this._id}}')" title="Xem chi tiết"  ><i class="fas fa-search"></i></button>
                  <button onclick="addToCart('{{this._id}}','{{this.name}}',{{this.price}},{{this.stored}},this,1)" title="Thêm vào giỏ hàng"  ><i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="discount">
              <span>{{this.discount}}%</span>
            </div>
            <div class="title-discount__product">
              <h5><a href="/product/{{this._id}}/detail">{{this.name}}</a></h5>
            </div>
            <div class="reviews-discount__product">
              <div class="star-reviews">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p class="views" title="Lượt xem">{{this.views}}<i class="fas fa-eye"></i></p>
            </div>
            <div class="price-discount__product">
              <p class="price__selling currFormat">{{this.price}} đ</p>
              <p class="price__old currFormat">{{this.originPrice}} đ</p>
            </div>
      
          </div>
      
          {{/each}}
        </div>
          <p type="button" class="slick-prev"><i class="fal fa-angle-left"></i></p>
          <p type="button" class="slick-next"><i class="fal fa-angle-right"></i></p>
      </div>

      <div class="see__more">
        <button class="snip1582">XEM THÊM</button>
      </div>
    </div>

    {{!-- Sản phẩm mới về --}}
    <div class="style__slider new__product">
      {{!-- Titile --}}
      <div class="seperate">
        <div class="seperate__left">
          <div class="seperate__square"></div>
          <div class="triangle_down"></div>
        </div>
        <p>SẢN PHẨM MỚI VỀ</p>
        <div class="seperate__right">
          <div class="triangle_up"></div>
          <div class="seperate__square"></div>
        </div>
      </div>

      {{!-- Listproduct --}}
      <div class="slider__discount">
        <div class="main__slider">
          {{#each newPro}}
          <div class="item">
            <div class="img-item">
              <img src="{{this.img}}" alt="">
              <div class="btn__main-product">
                  <button onclick="goToDetail('{{this._id}}')" title="Xem chi tiết"  ><i class="fas fa-search"></i></button>
                  <button onclick="addToCart('{{this._id}}','{{this.name}}',{{this.price}},{{this.stored}},this,1)" title="Thêm vào giỏ hàng"  ><i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            {{#if this.discount}}
            <div class="discount">
              <span>{{this.discount}}%</span>
            </div>
            {{/if}}
            <div class="title-discount__product">
              <h5><a href="/product/{{this._id}}/detail">{{this.name}}</a></h5>
            </div>
            <div class="reviews-discount__product">
              <div class="star-reviews">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p class="views" title="Lượt xem">{{this.views}}<i class="fas fa-eye"></i></p>
            </div>
            <div class="price-discount__product">
              <p class="price__selling currFormat">{{this.price}} đ</p>
              <p class="price__old currFormat">{{this.originPrice}} đ</p>
            </div>
          </div>
          {{/each}}
        </div>
         <p type="button" class="slick-prev"><i class="fal fa-angle-left"></i></p>
          <p type="button" class="slick-next"><i class="fal fa-angle-right"></i></p>
      </div>

      {{!-- Button --}}
      <div class="see__more">
        <button class="snip1582">XEM THÊM</button>
      </div>
    </div>
    
    {{!-- Sản phẩm bán chạy --}}
    <div class="style__slider top__product">
      <div class="seperate">
        <div class="seperate__left">
          <div class="seperate__square"></div>
          <div class="triangle_down"></div>
        </div>
        <p>SẢN PHẨM BÁN CHẠY</p>
        <div class="seperate__right">
          <div class="triangle_up"></div>
          <div class="seperate__square"></div>
        </div>

      </div>

      {{!-- Product --}}

      <div class="see__more">
        <button class="snip1582">XEM THÊM</button>
      </div>
    </div>

    {{!-- Giới thiệu về T2PC --}}
    <div class="style__slider col-12">
      <div class="seperate">
        <div class="seperate__left">
          <div class="seperate__square"></div>
          <div class="triangle_down"></div>
        </div>
        <p>GIỚI THIỆU VỀ T2PC</p>
        <div class="seperate__right">
          <div class="triangle_up"></div>
          <div class="seperate__square"></div>
        </div>
      </div>
      <div class="introduce">
        <div class="introduction">
          <p>Nhà cung cấp linh kiện & dịch vụ máy tính, gaming số 1 Hà Nội.</p>
          <p>Với đội ngũ nhân viên là những người trẻ đam mê và yêu thích về công nghệ, cùng kiến thức về IT tốt kèm với sự dày dặn kinh nghiệm, chúng tôi luôn sẵn sàng giải đáp bất cứ thắc mắc của các khách hàng một cách nhanh nhất có thể. Dù bạn không mua, chúng tôi vẫn tư vấn cho bạn.</p>
        </div>
      </div>
    </div>

    {{!-- Các thương hiệu --}}
    <div class="style__slider brand-products">
      <div class="seperate">
        <div class="seperate__left">
          <div class="seperate__square"></div>
          <div class="triangle_down"></div>
        </div>
        <p>CÁC THƯƠNG HIỆU</p>
        <div class="seperate__right">
          <div class="triangle_up"></div>
          <div class="seperate__square"></div>
        </div>
      </div>
      <div class="main__brand-products container">
        <div class="slider-discount row">
          <div class="img__brand"><img src="/img/brand/dareu.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/hp.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/Kingston.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/Logitech.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/galxx.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/ada-228x228.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/fuhlenjpg.jpg" alt=""></div>
          <div class="img__brand"><img src="/img/brand/Razer.png" alt=""></div>
          <div class="img__brand"><img src="/img/brand/dell.png" alt=""></div>
        </div>
        <div class="arrow_prev"><i class="fas fa-angle-right"></i></div>
        <div class="next_next"><i class="fas fa-angle-left"></i></div>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery/dist/jquery.slim.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script> //Slide sản phẩm giảm giá
  $(document).ready(function () {
    $('.main__slider').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
      prevArrow: '.slick-prev',
      nextArrow: '.slick-next',
    });
  });
</script>

<script>  //Slide các nhãn hàng
  $(document).ready(function () {
    $('.slider-discount').slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
      prevArrow: '.arrow_prev',
      nextArrow: '.next_next',
    });
  })
</script>